<div class="c-box-style search-movie-card">
    <h2>Search over Movie db</h2>
    <app-close (clickEvent)="closeSearchWindow()"></app-close>
    <div>
        <form [formGroup]="searchFormGroup">
            <input type="text" formControlName="name" placeholder="movie name"/>
        </form>
        <ng-container *ngIf="searchStatus != searchStatusList.init">
            <p>results:</p>
            <ng-container [ngSwitch]="searchStatus">
                <div *ngSwitchCase="searchStatusList.pending">....</div>
                <ng-container *ngSwitchCase="searchStatusList.loaded">
                    <div *ngFor="let element of result;" class="movie-result" (click)="addMovie(element)">
                        <img [attr.src]="!loadImageError ? element.image : imageCoverJoker"
                             (error)="loadImageError = true"/>
                        <div class="movie-result__data">
                            <h3>{{element.name}}</h3>
                            <p>{{element.year}}</p>
                        </div>
                    </div>
                    <div *ngIf="!result?.length">no films where found</div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>
