<svg (click)="emitClickEvent()" xmlns="http://www.w3.org/2000/svg" width="35.973" height="36.537" viewBox="0 0 35.973 36.537">
    <g id="icon-close" transform="translate(2.847 2.847)">
        <line id="Ligne_9" data-name="Ligne 9" x2="42.545" y2="0.276" transform="translate(0.195 0.565) rotate(45)" fill="none" stroke="#0d5c63" stroke-linecap="round" stroke-width="4"/>
        <line id="Ligne_10" data-name="Ligne 10" y1="0.276" x2="42.545" transform="translate(0 30.084) rotate(-45)" fill="none" stroke="#0d5c63" stroke-linecap="round" stroke-width="4"/>
    </g>
</svg>
