<svg id="icon-edit" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
    <g id="Ellipse_11" data-name="Ellipse 11" fill="#fff" stroke="#0d5c63" stroke-width="3">
        <circle cx="25" cy="25" r="25" stroke="none"/>
        <circle cx="25" cy="25" r="23.5" fill="none"/>
    </g>
    <line id="Ligne_11" data-name="Ligne 11" y1="13.556" x2="12.556" transform="translate(20.944 20.5)" fill="none" stroke="#0d5c63" stroke-linecap="round" stroke-width="2"/>
    <line id="Ligne_12" data-name="Ligne 12" y1="10.556" x2="9.556" transform="translate(19.944 19.5)" fill="none" stroke="#0d5c63" stroke-linecap="round" stroke-width="2"/>
    <line id="Ligne_13" data-name="Ligne 13" y1="13.556" x2="12.556" transform="translate(15.944 15.5)" fill="none" stroke="#0d5c63" stroke-linecap="round" stroke-width="2"/>
    <line id="Ligne_14" data-name="Ligne 14" y1="6" x2="1" transform="translate(14.5 29.5)" fill="none" stroke="#0d5c63" stroke-linecap="round" stroke-width="2"/>
    <line id="Ligne_15" data-name="Ligne 15" x1="6" y2="1" transform="translate(14.5 34.5)" fill="none" stroke="#0d5c63" stroke-linecap="round" stroke-width="2"/>
    <line id="Ligne_16" data-name="Ligne 16" x2="5" y2="5" transform="translate(15.5 29.5)" fill="none" stroke="#0d5c63" stroke-width="2"/>
    <path id="Tracé_3" data-name="Tracé 3" d="M28.655,15.391c1.588-.987,2.578-2.088,4.074-1.814l.83.16.806.3.435.5.165.392h0l.234.557a5.963,5.963,0,0,1,.314,1.048l-.133.981h0c.038.106-1.822,2.9-1.822,2.9" fill="none" stroke="#0d5c63" stroke-width="2"/>
    <line id="Ligne_17" data-name="Ligne 17" x2="5" y2="5" transform="translate(29.5 15.5)" fill="none" stroke="#0d5c63" stroke-width="2"/>
</svg>
