<svg id="icon-remove" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
    <g id="Ellipse_11" data-name="Ellipse 11" fill="#fff" stroke="#0d5c63" stroke-width="3">
        <circle cx="25" cy="25" r="25" stroke="none"/>
        <circle cx="25" cy="25" r="23.5" fill="none"/>
    </g>
    <line id="Ligne_9" data-name="Ligne 9" x2="25" transform="translate(15.944 15.944) rotate(45)" fill="none" stroke="#0d5c63" stroke-linecap="round" stroke-width="4"/>
    <line id="Ligne_10" data-name="Ligne 10" x2="25" transform="translate(15.944 34.056) rotate(-45)" fill="none" stroke="#0d5c63" stroke-linecap="round" stroke-width="4"/>
</svg>
