<div class="c-box-style">
    <div class="login-box">
        <form class="login-box__form-section" [formGroup]="loginForm">
            <h3>
                    <span *ngIf="!isSignUp ; else signUpBlock">
                        Login to BLC:
                    </span>
                <ng-template #signUpBlock>
                    Register to BLC:
                </ng-template>
            </h3>
            <input *ngIf="isSignUp" type="text" placeholder="name" formControlName="name" required>
            <input type="email" placeholder="email" formControlName="email" required>
            <input type="password" placeholder="password" formControlName="password" required>
            <button *ngIf="!isSignUp" [disabled]="!loginForm.valid" (click)="userSignIn()">Submit</button>
            <button *ngIf="isSignUp" [disabled]="!loginForm.valid" (click)="userSignUp()">Create</button>
            <div class="alert alert-danger">
                <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                        email is required.
                    </div>
                </ng-container>
                <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required">
                        password is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                        password must be at least 6 characters long.
                    </div>
                </ng-container>
            </div>
            <a *ngIf="!isSignUp" (click)="isSignUp = !isSignUp">
                I don't have an account (yet)
            </a>
        </form>
        <div class="login-box__desc-section">
            <h2 class="background-opacity">Find and bookmark movies</h2>
            <p class="background-opacity">
                Search in a free catalogue of more than 6 millions movies.
                You can add movies to your bucket list. Edit, tagn sort and rank those movies. Easy, right?
                <br/> <br/> Access to your cloud bucket when you want and share it with your friends.
            </p>
        </div>
    </div>
</div>

