$color-main: #0D5C63;
$color-primary-1: #44A1A0;
$color-primary-2: #78CDD7;
$color-background: #FFFFFA;

$padding-reference: 2rem;

$c-card-min-height: 35em;
$c-card-width: 25rem;

$c-card-min-phone-height: 20em;
$c-card-phone-width: 15rem;


