<svg id="icon-share" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
    <g id="Ellipse_10" data-name="Ellipse 10" fill="#fff" stroke="#0d5c63" stroke-width="3">
        <circle cx="25" cy="25" r="25" stroke="none"/>
        <circle cx="25" cy="25" r="23.5" fill="none"/>
    </g>
    <circle id="Ellipse_7" data-name="Ellipse 7" cx="5" cy="5" r="5" transform="translate(9 20)" fill="#0d5c63"/>
    <line id="Ligne_8" data-name="Ligne 8" x1="18" y1="10" transform="translate(14.5 25.5)" fill="none" stroke="#0d5c63" stroke-width="2"/>
    <path id="Tracé_2" data-name="Tracé 2" d="M0,10,18,0" transform="translate(14 15)" fill="none" stroke="#0d5c63" stroke-width="2"/>
    <circle id="Ellipse_8" data-name="Ellipse 8" cx="5" cy="5" r="5" transform="translate(27 30)" fill="#0d5c63"/>
    <circle id="Ellipse_9" data-name="Ellipse 9" cx="5" cy="5" r="5" transform="translate(27 10)" fill="#0d5c63"/>
</svg>
